.mainContainer {
  border-radius: 15px;
  background: #e8e8e8;
}

.container {
  display: inline-flex;
}

.infoContainer {
  font-size: 24px;
  padding: 0 10px 0 10px;
}

.image {
  border-radius: 15px;
  padding: 22px;
}

.episodes {
  display: block;
}

.episodeTitle {
  font-size: 46px;
  padding-left: 22px;
  margin: 0;
  font-weight: bold;
}
