.mainContainer {
  border-radius: 15px;
  background: #c5cdd1;
}

.container {
  display: inline-flex;
}

.infoContainer {
  font-size: 24px;
  padding: 0 10px 0 10px;
  color: #fff;
}

.image {
  border-radius: 15px;
  padding: 10px;
}

.episodes {
  display: block;
}