.episode__card {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;  
  margin: 21px;
  box-shadow: 0px 5px 20px -10px #3A1C71;
  background-color: #C08A53;
  text-align: left;
}

.episode__caption {
  background: #fff;
  opacity: 0.65;
  border-radius: 0 0 3px 3px;
}

.episode__text {
  margin: 0;
  padding-left: 5px;
  font-size: 22px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 280px; 
  height: 27px; 
  white-space: nowrap;
}

.episode__tooltip {
  position: relative;
  display: inline-block;
}

.episode__tooltip .episode__tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  bottom: 100%;
  left: 50%;
  width: 50%;
  text-decoration: none;
  margin-left: -80px;
 
  position: absolute;
  z-index: 1;
}

.episode__tooltip:hover .episode__tooltiptext {
  visibility: visible;
}